body{
    background-color:pink;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

h1 {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 4rem;
    color: #4ECCA3;
  }

  #container{
    width:40%;
    height:50%;
    padding:50px;
    background-color:#4ECCA3;
  }

 #scoreboard{
    display:flex;
    justify-content: space-evenly;
    margin-bottom:10px;
 } 

#content{
    display:flex;
    justify-content: space-evenly;
    align-items:center;
    gap:10px;
    margin-bottom:20px;
    padding:20px;
}

button{
    margin:10px;
}
